.MuiDrawer-paper {
    width:300px!important;
}

@media (min-width: 900px) {
    .dashboardDocument .mainAnimatedPage:not(.metadataEditorPage) {
        left: 300px;
    }
}

@media (min-width: 900px) {
    .css-1wf38nq {
        width: calc(100% - 300px);
        margin-left: 1920px;
    }
}

.mediaSourceIndicator {
    background: rgb(31, 80, 189);
    position: absolute;
    left: -5px;
    top: -5px;
    border-radius: 0px 0px 20px 0px;
    padding: 5px;
}
